@use "../_mixins" as *;

.block.blockCover { height: 312px; width: 100%; margin: 0px auto; position: relative; padding: 0px 16px; }
.block.blockCover {
	> .content { position: relative; z-index: 1; width: 100%; height: 100%; padding: 0px; border-radius: 4px; overflow: hidden; }
	
	.wrap { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; }
	.cover { position: absolute; left: 0px; top: 0px; transform-origin: 0px 0px; }
	img.cover { background-color: transparent; height: auto; }

	.author { @include text-small; color: var(--color-bg-primary); position: absolute; right: 16px; bottom: 16px; z-index: 3; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);  }
	.author a { color: var(--color-bg-primary); text-decoration: underline; }
}