@import "~scss/_mixins";

.blocks {
	.block.blockMedia { padding: 6px 0px; }

	.block.blockMedia {
		.focusable.isFocused { background: none; }
		.focusable.isFocused::before {
			content: ""; position: absolute; left: -2px; top: 0px; width: calc(100% + 4px); height: 100%; z-index: 1;
			pointer-events: none; border-radius: 6px;
		}

		.deleted { @include text-paragraph; color: var(--color-control-active); display: flex; gap: 0px 6px; align-items: center; }
		.deleted {
			.icon.ghost { width: 24px; height: 24px; }
		}

 		.icon.resize, .icon.download { position: absolute; z-index: 1; opacity: 0; cursor: default; transition: $transitionAllCommon; }
		.icon.resize { width: 20px; height: 20px; right: 0px; bottom: 0px; cursor: nwse-resize; background-image: url('~img/icon/resize.svg'); }
		.icon.download { width: 28px; height: 28px; right: 8px; top: 8px; background-image: url('~img/icon/download.svg'); }

		.loaderWrapper { border-radius: 4px; border: solid 1px var(--color-shape-primary); height: 48px; width: 100%; }
		.error { margin: 0px; @include text-small; line-height: 22px; }

		.wrap { max-width: 100%; position: relative; display: inline-block; overflow: hidden; }
		.mediaImage { width: 100%; display: block; cursor: zoom-in; }
		video { width: 100%; object-fit: contain; }

		.icon.dots {
			width: 32px; height: 32px; border-radius: 8px; background-color: rgba(0,0,0,0.35); position: absolute; right: 10px; top: 10px;
			background-image: url('~img/icon/menu/file/dots.svg'); opacity: 0; background-size: 24px 24px; z-index: 1;
		}
	}


}
