@use "../_mixins" as *;

.block.blockMedia { padding: 6px 0px; }
.block.blockMedia {
	> .content { display: flex; flex-direction: row; }
	> .content {
		.wrap { max-width: 100%; position: relative; display: block; overflow: hidden; }
		.wrap {
			> img, 
			> .media,
			> audio,
			> video { width: 100%; display: block; }

			> iframe { width: 100%; aspect-ratio: 3/4; display: block; }
		}
	}
}

.block.blockMedia.isAudio {
	> .content {
		.wrap { width: 100%; }
	}
}

.blockMedia.align1 {
	.content { justify-content: center; }
}

.blockMedia.align2 {
	.content { justify-content: flex-end; }
}