package renderer

templ BookmarkLinkTemplate(url templ.SafeURL, classes []string, innerComponents []templ.Component) {
    <a href={ url } target="_blank" class={classes}>
        for _, component := range innerComponents {
            if component != nil {
                @component
            }
        }
    </a>
}
