package renderer

templ DivDotTemplate() {
	<div class="dots">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
}

templ DivLineTemplate() {
	<div class="line"></div>
}
