package renderer

templ FileImageTemplate(r *Renderer, p *ImageRenderParams) {
	<div class={"block blockMedia isImage index0 withContent " + p.Classes}>
		<div class="content">
			<div class="flex">
				<div  class="wrap" style="width: 65%">
					<img src={ p.Src } class="mediaImage" />
				</div>
			</div>
		</div>
	</div>
}
