package renderer

templ IconImageTemplate(r *Renderer, p *IconImageRenderParams) {
	<div class="block blockIconPage align0 index0 noPlus">
		<div class="wrapContent">
			<div id="block-icon" class="iconObject c96 isPage withImage">
				<div class="iconEmoji" style="line-height: 56px;">
					<img src={ p.Src } class="iconImage c56" />
				</div>
			</div>
		</div>
	</div>
}
