package renderer

templ IconTemplate(p *IconParams) {
	<img src={ p.Src } class={ p.Classes } />
}

templ IconObjectTemplate(r *Renderer, p *IconObjectParams) {
	{{
		bp := &BlockParams{
			Id: p.BlockParams.Id,
			Classes: p.BlockParams.Classes,
			Content: IconTemplate(p.Icon),
		}
	}}

	@BlockTemplate(r, bp)
}
