package renderer


templ IconObjectTemplate(r *Renderer, p *IconObjectParams) {
	if p.Src != "" {
		<div class={ p.Classes }>
			<img src={ p.Src } class={ p.IconClasses } />
		</div>
	}
	if p.SvgSrc != "" {
		<div class={"svg-container", p.Classes } data-src={ p.SvgSrc } data-color={ p.SvgColor }></div>
	}
}
