package renderer


templ IconObjectTemplate(r *Renderer, p *IconObjectParams) {
	if p.Src != "" {
		<div class={ p.Classes }>
			<img src={ p.Src } class={ p.IconClasses } />
		</div>
	}
	if p.Svg != "" {
	    if p.SvgColor != nil {
	        @p.SvgColor
	    }
	    <div class={ p.Classes }>
            <svg class={ "iconSvg", p.IconClasses }>
                <image href={ p.Svg } width="512" height="512"/>
            </svg>
        </div>
	}
}
