package renderer

templ IconImageTemplate(r *Renderer, p *IconImageRenderParams) {
	<div id={"block-" + p.Id } class={"block blockIcon index0 " + p.Classes}>
		<div class="content">
			if p.Src != "" {
				<div id="block-icon" class={"iconObject isPage withImage " + p.IconClasses}>
					<div class="iconEmoji">
						<img src={ p.Src } class="iconImage" />
					</div>
				</div>
			}
		</div>
	</div>
}
