package renderer

templ BulletMarkerTemplate() {
	<div class="markers">
		<div class="marker bullet">
			<span id="marker-" class="markerInner c3">
			</span>
		</div>
	</div>
}

templ EmojiMarkerTemplate(url string) {
	<markupemoji contenteditable="false">
		<smile>
			<div class="iconObject c28 isPage">
				<div class="iconEmoji">
					<img src={url} class="iconCommon c28">
					</div>
				</div>
			</smile>
		</markupemoji>
}
