package renderer

templ PageTemplate(r *Renderer) {
    <html lang="en">
        <head>
            <link rel="shortcut icon" href="" />
            <link rel="stylesheet" href="/static/layout.css" />
        </head>

		<body>
        <main>
			todo-cover
            <div class="todo-class">
				todo-iconEmoji
                <div>
					@r.RenderText("some text")
					todo-children
                </div>
            </div>
        </main>
        </body>
    </html>
}
