package renderer

import (
	"fmt"
)

templ HeadingTemplate(id string, name string, depth int) {
    <div 
		class="item" 
		style={
			map[string]string{
				"padding-left": fmt.Sprintf("%dpx", depth * 24),
			}
	 	}
	>
		<a href={ templ.URL("#" + id) }>{ name }</a>
	</div>
}
