package renderer

templ TextTemplate(r *Renderer, p *TextRenderParams) {
	<div id={ p.Id } class={ p.Classes}>
		<div class="content">
			<div class="flex">
				if p.ExternalComp != nil {
					@p.ExternalComp
				}
				<div class="text">
					@p.TextComp
				</div>
			</div>
		</div>
		<div class="children">
			for _, childId := range p.ChildrenIds {
				@r.RenderBlock(r.BlocksById[childId])
			}
		</div>
	</div>
}
