package renderer

templ PlainTextTemplate(text string) {
	<div class="text">
		{ text }
	</div>
}

templ PlainTextWrapTemplate(comp templ.Component) {
	<div class="text">
		@comp
	</div>
}

templ TextCodeTemplate(code, lang string) {
	<div class="text" data-lang={lang}>
		{code}
	</div>
}
