@use "../_mixins" as *;

.cell.c-shortText, .cell.c-url, .cell.c-email, .cell.c-phone {
	.name { @include text-overflow-nw; display: inline-block; vertical-align: top; width: 100%; }
}

.cellContent { cursor: default; }
.cellContent {
	.iconObject { flex-shrink: 0; cursor: default; }
	.icon.clear { display: none; }

	.name { display: inline-block; vertical-align: top; user-select: text !important; }
	.empty { vertical-align: top; display: none; }

	.more { display: inline-block; vertical-align: middle; @include text-small; color: var(--color-text-secondary); }
}

.cellContent.c-checkbox { display: flex; flex-direction: row; align-items: center; gap: 0px 2px; }
.cellContent.c-checkbox {
	.icon { width: 20px; height: 20px; background-image: url('~img/icon/dataview/checkbox0.svg'); }
	.icon.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

	.label { line-height: 20px; }
}

.cellContent.c-file {
	.inputWithFile { border: 0px; padding: 0px; display: none; }
	.element { display: inline-block; vertical-align: top; white-space: nowrap; max-width: 100%; }
	.element {
		.iconObject { flex-shrink: 0; }
		.flex { align-items: center; gap: 0px 4px; }
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
	.cellContent { white-space: normal; }
}

.cellContent.c-select {
	.more { height: 18px; }
}

.cellContent.c-object {
	.element { display: inline-block; vertical-align: top; max-width: 100%; line-height: 20px; white-space: nowrap; }
	.element:last-child { margin-right: 0px; }
	.element {
		.iconObject { margin: 0px !important; }
		.flex { align-items: center; gap: 0px 4px; }
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
}

.cellContent.isName {
	.iconObject { z-index: 1; }
	.name { line-height: 20px; @include text-overflow-nw; width: 100%; }
}

.cellContent.c-link {
	.icon.user { margin-right: 5px; }
}

.cellContent.c-select,
.cellContent.c-object,
.cellContent.c-file {
	.over { display: inline-flex; vertical-align: top; width: 100%; gap: 4px 8px; align-items: flex-start; }
}

.cellContent.c-longText { white-space: pre-wrap; }

.cellContent.c-url, 
.cellContent.c-email, 
.cellContent.c-phone 
{
	.name { text-decoration: none; transition: $transitionAllCommon; width: auto; @include text-overflow-nw; width: 100%; }
}