$bgColor: rgba(79,177,239,0.1);

html.debug {
	.blocks {
		.block { border: 1px solid rgba(255,0,0,0.1); }

		.block.blockLayout.layoutRow { border-color: rgba(0,255,0,0.1); }
		.block.blockLayout.layoutColumn { border-color: rgba(0,0,255,0.1); }
		.block.blockLayout.layoutDiv { border-width: 2px; border-color: rgba(0,255,0,0.3); padding: 2px; }

		.block.blockFeatured {
			.cellContent { background: rgba(0,0,255,0.05); }
		}
	}
} 