@media (max-width: 736px) {

	.blocks { width: 100% !important; padding-left: 24px; padding-right: 24px; }

	.block.blockCover { height: 208px; padding: 8px; }

	.block.blockTable {
		.scrollWrap { overflow-x: auto; padding-bottom: 8px; }
	}

	.block.blockLayout.layoutRow {
		> .children { flex-direction: column; gap: 16px; }
		> .children {
			> .block.blockLayout.layoutColumn { width: 100% !important; }
		}
	}

	.footer {
		.button {
			.icon { margin: 0px; }
			.text { display: none; }
		}
	}
}